@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css";
body{
    margin: 0;
    padding: 0;
    background: url(pic3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    width: 100%;
    height : 400px;
}
.login-box{ 
    width: 280px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 255); 
   
} 
.login-box h1{ 
    float: absolute; 
    font-size: 40px; 
    border-bottom: 6px solid #000000; 
    margin-bottom: 50px; 
    padding: 13px 0 
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: #02e90a;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 4px solid #04ec04;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
